use nix

# Run poetry install if there's not a virtualenv already.
if [[ ! -d .venv || ! -f .venv/last-updated ]]; then
    echo "No virtualenv found, installing dependencies using Poetry..."
    poetry install
    date +%s > .venv/last-updated
fi

# Run poetry install if the last-updated is less than when the nix shell was last updated.
if [[ $(echo $NIX_SHELL_LAST_UPDATED) -gt $(cat .venv/last-updated) ]]; then
    echo "Nix shell has been updated. Reinstalling using Poetry..."
    poetry install
    date +%s > .venv/last-updated
fi

# Activate the virtualenv
source .venv/bin/activate

watch_file poetry.lock
watch_file pyproject.toml
watch_file shell.nix
unset PS1
