[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
flake8-pep3101 = "*"
docutils = "*"
twine = "*"
rst2html5 = "*"

[packages]
offlinemsmtp = {editable = true,path = "."}

[requires]
python_version = "3.8"
