[tool.poetry]
name = "offlinemsmtp"
version = "0.3.7"
description = "msmtp wrapper allowing for offline use"
authors = ["Sumner Evans <me@sumnerevans.com>"]
license = "GPL-3.0-or-later"

[tool.poetry.dependencies]
python = "^3.8"
watchdog = "^0.10.3"
gobject = "^0.1.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
docutils = "^0.16"
flake8 = "^3.8.3"
flake8-pep3101 = "^1.3.0"
jedi = "^0.17.2"
mypy = "^0.782"
rope = "^0.17.0"
rst2html5 = "^1.10.6"
sphinx = "^3.2.1"
twine = "^3.2.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
