name: Lint and Build

on:
  pull_request:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v10
        with:
          name: sumnerevans
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Install dependencies
        run: nix-shell --command "poetry install"

      - name: poetry check
        if: always()
        run: nix-shell --command "poetry check"

      - name: flake8
        if: always()
        run: nix-shell --command "poetry run flake8"

      - name: mypy offlinemsmtp
        if: always()
        run: nix-shell --command "poetry run mypy offlinemsmtp"

      - name: black --check .
        if: always()
        run: nix-shell --command "poetry run black --check ."

      - name: custom style check
        if: always()
        run: nix-shell --command "poetry run ./cicd/custom_style_check.py"

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v10
        with:
          name: sumnerevans
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Install dependencies
        run: nix-shell --command "poetry install"

      - name: poetry build
        run: nix-shell --command "poetry build"

  test_deploy:
    name: Test Deploy to PyPi
    runs-on: ubuntu-latest
    needs: [lint, build]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Run image
      uses: abatilo/actions-poetry@v2.1.2

    - name: Run build
      run: |
        poetry build

    - name: Dry run publish
      run: |
        poetry config pypi-token.pypi ${{ secrets.PYPI_DEPLOY_TOKEN }}
        poetry publish --dry-run

  deploy:
    name: Deploy to PyPi
    runs-on: ubuntu-latest
    needs: [test_deploy]
    if: ${{ github.event_name == 'release' && github.event.action == 'created' }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Run image
      uses: abatilo/actions-poetry@v2.1.2

    - name: Run build
      run: |
        poetry build

    - name: Actual publish
      run: |
        poetry config pypi-token.pypi ${{ secrets.PYPI_DEPLOY_TOKEN }}
        poetry publish

